:root {
  --top-item: #fff;
  --depth-900: hsl(200, 17%, 96%);
  --depth-800: hsl(200, 17%, 93%);
  --depth-700: hsl(200, 17%, 90%);
  --depth-600: hsl(200, 17%, 87%);
  --depth-500: hsl(200, 17%, 84%);
  --depth-400: hsl(200, 17%, 81%);
  --depth-300: hsl(200, 17%, 78%);
  --depth-200: hsl(200, 17%, 75%);
  --depth-100: hsl(200, 17%, 72%);
  --depth-000: hsl(200, 17%, 69%);

  --text-900: hsl(285, 20%, 10%);
  --text-800: hsl(285, 20%, 13%);
  --text-700: hsl(285, 20%, 16%);
  --text-600: hsl(285, 20%, 19%);
  --text-500: hsl(285, 20%, 22%);
  --text-400: hsl(285, 20%, 25%);
  --text-300: hsl(285, 20%, 28%);
  --text-200: hsl(285, 20%, 31%);
  --text-100: hsl(285, 20%, 34%);
  --text-000: hsl(285, 20%, 37%);
}
